.map {
		max-width: 850px;
		margin: 10% auto;
		padding: 0 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	/* .map__h3 */
	&__h3 {
				font-family: Playfair Display;
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 48px;
		min-width: 100%;

		/* accent */

		color: #D4C17F;
		margin-bottom: 5%;
	}
	/* .map__map */
	&__map {
	}
}
iframe {
	width: 700px;
	height: 450px;

	@media (max-width: 767px) {
		width: 300px;
		height: 250px;
	}
}