@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
/*ипортирую шрифты*/
/*Material Icon шрифт*/
@font-face {
  font-family: 'PostNoBillsJaffna-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/PostNoBillsJaffna.ttf");
  /* For IE6-8 */
  src: local("PostNoBillsJaffna-SemiBold"), url("./fonts/PostNoBillsJaffna.ttf") format("truetype"); }

body {
  max-width: 1920px;
  background-color: #242B33; }

.container {
  max-width: 1200px;
  margin: 0px auto;
  /*для центрирования контейнера посредине экрана*/
  padding: 0px 15px;
  /*для красивых отступов справа и слева*/ }
  @media (max-width: 1200px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767px) {
    .container {
      max-width: none;
      /*для маленькиз разрешений максимальная ширина нам не нужна*/ } }

.header {
  position: relative;
  /* .header__nav */
  /* .header__menu */
  /* .header__menu__item */
  /* .header__name */ }
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header__menu__item {
    padding-right: 5%;
    padding-top: 5%; }
  .header__menu__item a {
    white-space: nowrap;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF; }
  .header__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .header__name h1 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    text-align: center;
    /* accent */
    color: #D4C17F;
    margin: 10% auto; }
  .header__name h2 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 64px;
    text-align: center;
    /* accent */
    color: #D4C17F; }

.logo {
  font-family: 'PostNoBillsJaffna-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  white-space: nowrap;
  padding-top: 5%; }

.header img {
  position: absolute;
  z-index: -1;
  min-height: 100%; }
