@import "#source/scss/nullstyle.scss";
/*ипортирую шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway&display=swap');
/*Material Icon шрифт*/
@font-face {
  font-family: 'PostNoBillsJaffna-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/PostNoBillsJaffna.ttf");
  /* For IE6-8 */
  src: local("PostNoBillsJaffna-SemiBold"), url("./fonts/PostNoBillsJaffna.ttf") format("truetype"); }

$accent: #D4C17F;

body {
/*	max-width: 1920px;*/
	background-color: #242B33;
	color: white;
}

@import "blocks/first-screen/first-screen.scss";
@import "blocks/testimonials/testimonials.scss";
@import "blocks/appartments/appartments.scss";
@import "blocks/cta/cta.scss";
@import "blocks/map/map.scss";
@import "blocks/ctaform/ctaform.scss";
@import "blocks/footer/footer.scss";
